//
   Created by shaunkatona on 7/25/14.

extend layout
block content
    .row(ng-controller="PlayerController as PlayerCtrl")
        .col-md-6
            table.table.table-bordered
                thead
                    tr
                        th(colspan="100") Available Players
                    tr
                        th Overall Rank
                        th Name
                        th Position
                        th Position Rank
                        th Bye
                        th
                tbody
                    tr(ng-repeat="player in players.available | orderBy:['position', 'positionRank']", class="{{player.position}}")
                        td {{player.overallRank}}
                        td {{player.displayName}}
                        td {{player.position}}
                        td {{player.positionRank}}
                        td {{player.byeWeek}}
                        td
                            button(ng-click="addPlayer(player)") MINE!
        .col-md-6
            table.table.table-bordered
                thead
                    tr
                        th(colspan="100") My Team
                    tr
                        th Overall Rank
                        th Name
                        th Position
                        th Position Rank
                        th Bye
                        th
                tbody
                    tr(ng-repeat="player in players.taken.mine | orderBy:['position', 'positionRank']", class="{{player.position}}")
                        td {{player.overallRank}}
                        td {{player.displayName}}
                        td {{player.position}}
                        td {{player.positionRank}}
                        td {{player.byeWeek}}
                        td
                            button(ng-click="releasePlayer(player)") Release

block scripts
    script(src="scripts/app.js", type="text/javascript")