//
   Created by shaunkatona on 7/25/14.

extend layout
block content
    .navbar.navbar-default.navbar-fixed-top(role="navigation")
        .container
            .navbar-header
                button.navbar-toggle(type="button", data-toggle="collapse", data-target="#bs-example-navbar-collapse-1")
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
            .collapse.navbar-collapse
                ul.nav.navbar-nav
                    li.dropdown
                        a.dropdown-toggle(href="#", data-toggle="dropdown")
                            | Load Roster
                            span.caret
                        saved-rosters(load-roster="loadRoster(timestamp)", local-storage="localStorage")
    div.container
        .row
            form
                .col-md-6.text-center.form-group
                    input(id="searchBox", name="searchBox", placeholder="Filter Names", type="text", ng-model="search.displayName")
                .col-md-6
        .row
            .col-md-6.text-center
                button.btn.btn-default(type="button", ng-click="search.position=''") ALL
                button.btn.btn-default(type="button", ng-click="search.position=position", ng-repeat="position in positions") {{position}}
            .col-md-6
        .row.tables
            .col-md-6
                table.table.table-bordered.table-hover
                    thead
                        tr
                            th(colspan=100).text-center Available Players
                        tr
                            th Overall Rank
                            th Name
                            th Position
                            th Position Rank
                            th Bye
                            th(colspan=2).text-center Draft
                    tbody
                        tr(ng-repeat="player in players.available | filter: search | orderBy:['position', 'positionRank'] | limitTo: 25", class="{{player.position}}")
                            td {{player.overallRank}}
                            td {{player.displayName}}
                            td {{player.position}}
                            td {{player.positionRank}}
                            td {{player.byeWeek}}
                            td
                                button.btn.btn-default.btn-xs(ng-click="addPlayer(player)", type="button") Mine
                            td
                                select(ng-change="addPlayerToTheirs(player, value)", ng-model="value", ng-options="coach as coach for coach in coaches | orderBy:'toString()'")
                                    option(value="") Theirs
            .col-md-6
                table.table.table-bordered.table-hover
                    thead
                        tr
                            th(colspan=100).text-center My Team
                        tr
                            th Overall Rank
                            th Name
                            th Position
                            th Position Rank
                            th Bye
                            th
                    tbody
                        tr(ng-repeat="player in players.mine | orderBy:['position', 'positionRank']", class="{{player.position}}")
                            td {{player.overallRank}}
                            td {{player.displayName}}
                            td {{player.position}}
                            td {{player.positionRank}}
                            td {{player.byeWeek}}
                            td
                                button.btn.btn-default.btn-xs(ng-click="releasePlayer(player)", type="button") Release
                    tfoot
                        tr
                            th Average Overall Rank
                            th(colspan=100)
                        tr
                            td {{getMyAverageOverallRank()}}
                            td(colspan=100)
                table.table.table-bordered.table-hover(ng-repeat="coach in coaches | orderBy:'toString()'")
                    thead
                        tr
                            th(colspan=100).text-center {{coach}}'s Team
                        tr
                            th Overall Rank
                            th Name
                            th Position
                            th Position Rank
                            th Bye
                            th
                    tbody
                        tr(ng-repeat="player in players.theirs[coach] | orderBy:['position', 'positionRank']", class="{{player.position}}")
                            td {{player.overallRank}}
                            td {{player.displayName}}
                            td {{player.position}}
                            td {{player.positionRank}}
                            td {{player.byeWeek}}
                            td
                                button.btn.btn-default.btn-xs(ng-click="releasePlayerFromTheirs(player, coach)", type="button") Release
                    tfoot
                        tr
                            th Average Overall Rank
                            th(colspan=100)
                        tr
                            td {{getTheirAverageOverallRank(coach)}}
                            td(colspan=100)
        .row
            .col-md-12
                table.table.table-hover.table-bordered
                    thead
                        tr
                            th
                            th Overall
                            th(ng-repeat="position in positions") {{position}}
                    tbody
                        tr
                            th My Team
                            td {{getMyAverageOverallRank()}}
                            td(ng-repeat="position in positions") {{getMyAverageRank(position)}}
                        tr(ng-repeat="coach in coaches")
                            th {{coach}}
                            td {{getTheirAverageOverallRank(coach)}}
                            td(ng-repeat="position in positions") {{getTheirAverageRank(coach, position)}}
block scripts
    script(src="scripts/app.js", type="text/javascript")