//
   Created by shaunkatona on 7/25/14.
html(ng-app="ffApp", lang="en")
    head
        title
            | The DALE SUCKS Final Fantasy Draft Tool
        link(href='//fonts.googleapis.com/css?family=Amatic+SC', rel='stylesheet', type='text/css')
        link(rel="stylesheet", href='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
        link(rel="stylesheet", href='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css')
        link(rel="stylesheet", href="stylesheets/styles.css")
        block styles
    body
        h1.text-center The DALE SUCKS Fantasy Football Draft Tool
        block content
        script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.20/angular.min.js', type="text/javascript")
        block scripts