//
   Created by shaunkatona on 7/25/14.
html(ng-app="ffApp", lang="en")
    head
        title
            | Final Fantasy Draft Tool

        link(rel="stylesheet", href="stylesheets/styles.css")
        block styles
    body
        block content

        script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.20/angular.min.js', type="text/javascript")
        block scripts