body
  padding-top 50px

h1
  font-family "Amatic SC"
  font-size 64px

td, th
  font-size 12px

th
  background-color lightgray

tr.K
  background-color #FAF8B6

tr.DEF
  background-color #F8DA9F

tr.QB
  background-color #F5C0C0

tr.WR
  background-color #D1FAD1

tr.RB
  background-color #DCE3F8

tr.TE
  background-color #FAEAF7

.row.tables
  padding-top 15px