body {
  padding-top: 50px;
}
h1 {
  font-family: "Amatic SC";
  font-size: 64px;
}
td,
th {
  font-size: 12px;
}
th {
  background-color: #d3d3d3;
}
tr.K {
  background-color: #faf8b6;
}
tr.DEF {
  background-color: #f8da9f;
}
tr.QB {
  background-color: #f5c0c0;
}
tr.WR {
  background-color: #d1fad1;
}
tr.RB {
  background-color: #dce3f8;
}
tr.TE {
  background-color: #faeaf7;
}
.row.tables {
  padding-top: 15px;
}
