h1 {
  font-family: "Amatic SC";
  font-size: 64px;
}
td,
th {
  font-size: 12px;
}
th {
  background-color: #d3d3d3;
}
tr.K {
  background-color: #f7f145;
}
tr.DEF {
  background-color: #f9c866;
}
tr.QB {
  background-color: #fc8d8d;
}
tr.WR {
  background-color: #9ef99d;
}
tr.RB {
  background-color: #b0c3fc;
}
tr.TE {
  background-color: #f99fe6;
}
